[Unit]
Description=The relayServer daemon.
After=network.target

[Service]
User=nobody
Type=simple
StandardOutput=null
StandardError=null
Restart=no
# Load if exist:
EnvironmentFile=-/etc/environment
ExecStart=/bin/bash -l -c '/usr/bin/node /usr/local/share/relayServer/relayServer.js'

[Install]
WantedBy=multi-user.target
